<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Explore US Representatives</title>
</head>
<body>
    <article>
        <center>
        <h3><a href = "/">States</a></h3>
        <h3><a href = "/rep">Representatives</a></h3>
        <h3><a href = "/party/Democrats">Democrats</a></h3>
        <h3><a href = "/party/Republicans">Republicans</a></h3>
        </center>
        {{{body}}}
    </articles>
</body>
</html>



